<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}">
    <head>
        <meta charset="utf-8">
        <title>[[${producto.nombre}]]</title>
    </head>
    <body>

        <div layout:fragment="content" th:object="${producto}">
            <div class="row">
                <div class="col-md-6">
                    <img th:src="@{/assets/{filename}(filename=*{rutaPortada})}"
                         th:alt="*{nombre}" class="img-fluid rounded w-100">
                </div>
                <div class="col-md-6">
                    <h2 th:text="*{nombre}"></h2>
                    <h2 th:text="'S/ ' +*{precio}"></h2>
                    <div class="mb-3">
                        <span class="badge rounded-pull bg-light text-dark me-1"
                              th:each="categoria : *{categorias}" th:text="${categoria.nombre}"></span>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>


